body {
  background-color: black;
  text-color: white;
}

h1 {
  color: white;
}

#me {
  background-color: rgba(0,140,0,.5);
  width: 35%;
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
}

nav {
  background-color: red;
  margin: 10px;
  padding: 2px;
  float: right;
}

.navlinks {
  color: white;
}

#pages {
  display: inline-block;
}
