body {
  background-color: black;
  text-color: white;
}

h1 {
  color: white;
}

#me {
  background-color: lightgreen;
  width: 35%;
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
}

nav {
  display: block;
}
